html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #fff;
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

strong {
}

a {
	color: #171717;
	text-decoration: none;
}

a:hover {
	
	color:#008C9A;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
		width:5%;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr {
	display: none;
}


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style1 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
/*********************************************************byeros*/	
	ul.bottoni
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.bottoni li
	{
		padding: 15px 0px 15px 0px;
	}
	
	ul.bottoni li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
	
/********************************************************fine add eros*/	
	
	

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
		
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
	
	dl.style3 dt
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
		background-color: #E3E4FA;
		list-style: none;
	}
	dl.style3 dd:nth-child(2n+1)
	{
		border-top: 0;
		padding-top: 0;
		background-color: #EEEEEE;
		list-style: none;
	}
	
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 1.5em 0em 2.5em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
		text-transform: uppercase;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 1.6em;
		color: #00AABB;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/** WRAPPER */

#wrapper {
	background: #EEEEEE;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	/*width: 1200px;*/
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	background-size: 100%;
	background: #FFF;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header 
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo 
	{
		width: 500px;
		height: 100px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform: uppercase;
	}
	
	#logo h1
	{
		letter-spacing: 0.10em;
		font-size: 3em;
	}
	
	#logo p 
	{
		letter-spacing: 0.10em;
		color: #1E1B1A;
	}
	
	#logo a 
	{
		text-decoration: none;
		color: #00AABB;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner 
	{
		position: absolute;
		left: 0;
		overflow: hidden;
		z-index: 1;
	}
	
	#banner .image
	{
		border: 5px solid #FFFFFF;
	}
	

/** MENU */

#menu-wrapper
{
	background: #00AABB;
	height:60px;
}

#menu {
	overflow: hidden;
	height: 80px;
}

#menu ul {
	margin: 0;
	padding: 25px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	/*display: block;*/
	letter-spacing: 1px;
	padding: 20px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 600;
	border: none;
	color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a:hover {
	background: #EEEEEE ;
	color:#00AABB ;
	border-radius: 4px;
}
#menu .current_page_item a:focus {
	background-color: #EEEEEE ;
	color:#00AABB ;
	border-radius: 4px;
}
	
/** PAGE */

#page
{
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
	background-color: #EEEEEE;
}

/** CONTENT */

#content
{
	float: right;
	width: 78%;
	background-color: #FFF;
	padding-left: 1%;
	border-radius: 4px;
	margin-top: -80px;
	margin-right: 1%;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: left;
		width: 19%;
		border-right: 5px;
		padding-left: 1%;
		margin-top: -80px;
		}
	
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	
	#sidebar .box1
	{
		margin-bottom: 3em;
	}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}
	
	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}
	
	#welcome p
	{
		font-size: 1.3em;
	}

	#welcome .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		background: rgba(0,0,0,.04);
		padding: 6em 0em;
		color: rgba(255,255,255,.7);
	}
	
/*	#portfolio
	{
		overflow: hidden;
	}
	
	#portfolio .title h2
	{
		font-size: 1.2em;
		color: #FFF;
	}

	#portfolio .byline
	{
		font-size: 1em;
		color: #EEA7C1;
	}
	*/
	#column1,
	#column2,
	#column3,
	#column4
	{
	width: 22%;
	float: left;
	margin-right: 3%;
	}

	
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 1.5em;
		padding: 0.50em 3em 0.50em 2em;
		background: #00AABB;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
		width: 50%;
		text-align: -moz-center;
		margin-bottom: 15px;
		height: 30px;
		padding-top: 7%;
		border-radius: 4px;
	}
	
		.button:before
		{
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #FFF;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	/*#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #1E1B1A;
	}

	#footer
	{
		color: #ADADAD;
	}
	
	#footer .title h2
	{
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}

	#footer .title
	{
		border-color: #2D2926 !important;
	}
	
	#footer .style1 li
	{
		border-color: #2D2926 !important;
	}
	
	#footer .style1 a
	{
		letter-spacing: 0.10em;
		font-size:1em;
		color: #B1B1B1;
	}
	
	#box1
	{
		float: left;
		width: 30%;
		padding-right: 1%;
		margin-left: 2%;
	}
	
	#box2
	{
		float: left;
		width: 30%;
		margin-left: 24px;
		padding-right: 1%;
	}
	
	#box3
	{
		float: right;
		width: 30%;
		padding-left: 1%;
	}
/**********************Fine Footer template**********************************/

/**********************************Footer Prof*********************************/	
#footer {
	overflow: hidden;
	background: #FFFFFF;
	height: 20px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #1E1B1A;
	border-top:#00AABB 3px solid;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
}

#footer a {
	color: #00AABB;
	padding-top: 15px;
}


/****************************************************/
/*********aggiunti da eros***************************/
#tabella {
	border: 2px solid #87CEFA;
 	border-collapse:separate;
 	border-spacing: 0px;
 	empty-cells:show;
	margin: 0px 0px 25px 5px;
}

#tabella td, th{	/*aggiunto da michele*/
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tabprima{
	background-color: #87CEFA;
	color: white;
	font-size:20px;	
}
.tabpari{
	background-color: #EEEEEE;
}
.tabdispari{
	background-color:#FFFFFF;	
}
.colorefaq{
	background-color:red;
}

/************************************** STYLE PROFILI ***************************/

.profilo {
	background-color: #fffff2;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 4px 4px 2px #DBDBDB;
	line-height: 1px;	
}

.profilo h4 span {
	color: #00AABB;
}

.profilo a {
	background-color: #00AABB;
	padding: 10px;
	display: inline;
	float: right;
	font-size: 14px;
	font-weight: 900;
	color: #fff;
	border-radius: 4px;
	box-shadow: 2px 2px 1px #888888;
	
}

.profilo a:hover {
	box-shadow: none;
}

.profilo p {
	color: #888888;
}

.profilo span {
	color: #00AABB;
}









