<div class="title">
	<h2>FAQ</h2>
	<span class="byline">CERCHEREMO DI RISOLVERE I TUOI DUBBI</span>
	<br><br>

		<?php $i=1 ?> 
		<?php foreach ($this->riga as $x) {
		echo"<div class='tabella' style='padding-right: 10px;'>";
echo"<dl class='style3'>";
			echo "<dt>";
			echo  $i++;
			echo ")&nbsp";
			echo  $x->domanda.'?';
			echo "</dt>";
			echo "<dd>";
			echo $x->risposta.'.';
			echo "</dd>";
			echo"</dl>";
	echo"</div>";}
		?>

</div>