<?php $x = $this -> clinico;?>

<div class="profilo" >
		<h4>Benvenuto, <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><span>Ruolo:</span><?php echo $x -> ruolo;?> | <span>Specializzazione:</span> <?php echo $x -> specializzazione;?></p>
		
		
		
		<?php echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'newprof',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 20px; margin-right: 10px;margin-left: 10px; margin-top: 8px;margin-bottom: 8px;\" >"; // modificato per centrare la matita
			echo "</a>" 
			?>
		<div style="clear:both;"></div>
</div> 

