<div class="title">
	<h2>I miei pazienti</h2>
	<span class="byline"></span>
	<br><br>
</div>
<div >
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	    	<th>id</th>
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>eta</th> 
	        <th>dettagli</th>
	    </tr>
		<?php $i=1 ?> 
		<?php foreach ($this->segue as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
echo "<td>";
			echo  $x->idpazi;
			echo "</td><td>";
			echo $this->nome[$x->idpazi];
			echo "</td><td>";
			echo $this->cognome[$x->idpazi];
			echo "</td><td>";
			echo $this->eta[$x->idpazi];
			echo "</td>";
			echo "<td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewpaziente',
	                        'id' => $x->idpazi,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/avatar.png');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			echo "</td>";
			
	echo"</div>";
	}
		?>
	</table>
</div>
