<?php $x = $this -> paziente;?>

<div class="profilo" >
		<h4>paziente: <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		
		<br><br><br>
		<?php 
			echo"<div><ul class='bottoni'>";
			if($this->mio != null){ //le azioni che il clinico puo' fare cambiano se il paziente è suo!
				 echo"<li><a href='#'>disturbi</a></li>
						<li><a href='#'>terapie</a></li>
						<li><a href='#'>cartella clinica</a></li>";
			}else {
				echo"<li><a href='#'>aggiungi ai miei pazienti</a></li>";
			}
			echo"</ul></div>";
		?>
		
		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->