
<div class="box2">
	<ul class="style2">
		<li>	
			<div class="title">
				<h2>Clinico</h2>
			</div>
						<div id="sidecli">
				<ul class="style2">

					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'addpaziente',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="registra un nuovo paziente">nuovo paziente</a></li>
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'mypazienti',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">miei pazienti</a></li>
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewstatic',
	                        'staticPage' => 'add'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">aggiungi pazienti</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>