<div id="menu" class="container">
	<ul>
		<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'viewstatic',
	                        'staticPage' => 'index'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Torna alla Home">Home</a></li>
		
		<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'viewstatic',
	                        'staticPage' => 'where'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Scopri come venirci a trovare">Dove Siamo</a></li>
		
		<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'viewstatic',
	                        'staticPage' => 'who'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Conosciamoci meglio">Chi siamo</a></li>
			
		<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'faq',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Domane e Risposte">faq</a></li>
			
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'logout',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Domane e Risposte">Logout</a></li>
											<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'profilo',
	                   		), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">profilo</a></li>
	</ul>
</div>