<?php echo $this->doctype() ?>
<html>
<head>
	<?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headTitle(); ?>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Dende Healer</a></h1>
				<p>Design by GRUPPO 15</p>
			</div>
		</div>
	</div>


	<!-- end #header -->
	
	<div id="menu-wrapper">
        <?= $this->render('_topnavcli.phtml') ?>
	</div>
	
	
	<div id="page" class="container">
		<div id="content">
				<?php echo $this->layout()->content;?>
			</div>
		<div id="sidebar">	
		<?php  
			$mioruolo= $this->authInfo('ruolo');
			if($mioruolo === 'clinico') { echo $this->render('_sideclinico.phtml');
			}else {
				if($mioruolo === 'direttore') { echo $this->render('_sidedirettore.phtml');}
				else if($mioruolo === 'admin'){ echo $this->render('_sideadmin.phtml');}
			}
		?>
		</div>
	</div>
</div>
<div id="footer">
		<p>universit&agrave; politecnica delle marche - Corso di  <a href="http://www.dii.univpm.it/C3I110NA/">tecnologie web</a>.</p>

	</div>

</body>
</html>