<?php echo $this->doctype() ?>
<html>
<head>
	<?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headTitle(); ?>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'public',
	                        'action'     => 'viewstatic',
	                        'staticPage' => 'index'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Torna alla Home">Dende Healer</a></h1>
				<p>Design by GRUPPO 15</p>
			</div>
		</div>
	</div>


	<!-- end #header -->
	
	<div id="menu-wrapper">
        <?= $this->render('_topnavmain.phtml') ?>
	</div>
	
	
	<div id="page" class="container">
		<div id="content">
				<?php echo $this->layout()->content;?>
			</div>
		<div id="sidebar">
			<?= $this->render('_log.phtml') ?>
		</div>
	</div>
</div>
<div id="footer">
		<p>universit&agrave; politecnica delle marche - Corso di  <a href="http://www.dii.univpm.it/C3I110NA/">tecnologie web</a>.</p>
	<!--
		<div id="box1">
			<div class="title">
				<h2>BOX1</h2>
			</div>
			<ul class="style1">
				<li><a href="#">LINK1 </a></li>
				<li><a href="#">LINK2</a></li>
			</ul>
		</div>
		<div id="box1">
			<div class="title">
				<h2>BOX 2</h2>
			</div>
			<ul class="style1">
				<li><a href="#">LINK1 </a></li>
				<li><a href="#">LINK2</a></li>
			</ul>
		</div>
		<div id="box1">
			<div class="title">
				<h2>BOX 3</h2>
			</div>
			<p>Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet magna.</p>
			<ul class="contact">
				<li><a href="#">LINK1 </a></li>
				<li><a href="#">LINK2</a></li>
			</ul>
				<a href="#" class="icon icon-plus-sign button">Read More</a> </div>
		</div>
-->
	</div>

</body>
</html>