<div class="title">
	<h2>DISTURBO</h2>
	<span class="byline">ELENCO DISTURBI</span>
</div>
<div>
	<?php echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'newdisturbo',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\"width: 20px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>"?>
			<br><font color="green" >Aggiungi Disturbo</font></div>
<div >
	<table id="tabella"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	        <th>nome </th> 
	        <th></th>
	  </tr>
	  <br>
		<?php $i=1?>
		
			
		<?php foreach ($this->riga as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";	
			echo  $x->nome;
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'cancelladisturbo',
	                        'disturbo' => $x->iddisturbo,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.jpg');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			echo "</td>";
					
			}
		?>
		</table>
</div>