<div class="title">
	<h2>clinici</h2>
	<span class="byline">Elenco pazienti</span>
	<br><br>
</div>
<div >
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>eta</th> 
	        <th>genere</th> 
	        <th>indirizzo</th> 
	        <th>telefono</th> 
	        <th>email</th> 
	    </tr> 
	    <?php $i=1?>
		<?php foreach ($this->riga as $x) {	
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->nome;
			echo "</td><td>";
			echo  $x->cognome;
			echo "</td><td>";
			echo  $x->eta;
			echo "</td><td>";
			echo  $x->genere;
			echo "</td>";
			echo "<td>";
			echo  $x->indirizzo;
			echo "</td><td>";
			echo  $x->telefono;
			echo "</td><td>";
			echo  $x->email;
			echo "</td><tr>";
			}
		?>
	</table>
</div>