<!--<div class="title">
				<h2>about</h2>
				<span class="byline">cosa vogliamo farne di questo sito?</span>
</div>-->
<div class="profilo" >
		<h4>Benvenuto, <span>Michele Landolfi</span></h4>
		<p>22 anni - maschio | <span>Indirizzo:</span> via degli abeti, 15 | <span>Telefono:</span> 3477314758 | <span>Email:</span> mic.mnt@gmail.com</p>
		<a href="#">modifica</a>
		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->