<div class="title">
	<h2>EPISODIO</h2>
	<span class="byline">ELENCO EPISODI</span>
</div>
<div>
	<?php echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'newepisodio',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\"width: 20px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>"?>
			<br><font color="green" >Aggiungi Episodio</font></div>

<div >
	<table id="tabella2"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	  		<th>paziente</th>
	  		<th>disturbo</th>
	        <th>intensita </th>
	        <th>durata </th>
	        <th></th>
	        <th></th>
	         
	  </tr>
	  
		 <?php $i=1?>
		<?php foreach ($this->riga as $x) {
				
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->paziente;
			echo "</td><td>";
			echo  $this->dist[$x->disturbo];
			echo "</td><td>";
			echo  $x->intensita;
			echo "</td><td>";
			echo  $x->durata;
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'episodio',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 20px; margin-right: 0px; float: center; margin-top: 8px;\" >";
			echo"</td><td>";
			echo "</a>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'cancellaepisodio',
	                        'id'=> $x->idepisodio,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.jpg');
			echo" style=\"width: 20px; margin-right: 0px; float: left; margin-top: 8px;\" >";
			
			echo "</a>";
			echo "</td><tr>";
			
			}
		 
		?>
		</table>
		
		
</div>