<?php $x = $this -> profilo;?>

<div class="profilo" >
		<h4>Benvenuto, <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		<a href="#">modifica</a>
		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->